<div class="head">
  <div class="div">
    <h2 class="div2">Course Mapping</h2>
    <button kendoButton
      themeColor="info"
      [toggleable]="false"
      data-toggle="modal" class="div0"
      data-target="#exampleModal"> + Map Course 
    </button>
  </div>

  <!-- KENDOGRID  -->
  <kendo-grid [kendoGridBinding]="AllSpeccourse" class="div1" >
    <kendo-grid-column field="courseName" title="Course Name" >  
    </kendo-grid-column>
    <kendo-grid-column field="specificationName" title="Specification Name" >  
    </kendo-grid-column>
    <kendo-grid-column field="Action" title="Action">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <button
          kendoButton
          themeColor="warning"
          [toggleable]="false"
          data-toggle="modal"
          data-target="#exampleModal1"
          style="margin-right: 10px;"
          (click)="editSpecCourse(dataItem)"
          > Edit
        </button>
        <button
          kendoButton
          themeColor="error"
          [toggleable]="false"
          data-toggle="modal"
          data-target="#exampleModal2" 
          (click)="delete(dataItem)">
          Delete 
        </button>
      </ng-template> 
    </kendo-grid-column>
  </kendo-grid>
 
  <!-- ADDING COURSE -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" >
          <h5 class="modal-title" id="exampleModalLabel">Add Map Course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="loginForm">
         <label class="form-label" style="margin-left:20px;margin-top: 20px;"><h6>Select Course</h6></label>
          <select class="form-select" formControlName="Courselist" style="width: 400px;margin-left: 30px;">
            <option value="select Course" selected >Select Course</option>
            <option [ngValue]="course"  *ngFor="let course of allCourses">{{course.courseName}}</option>
          </select>
          <br>
          <label class="form-label" style="margin-left:20px;"><h6>Select Specification</h6></label>
          <select class="form-select" formControlName="speclist" style="width: 400px;margin-left: 30px;margin-bottom: 20px;" >
            <option value="select specification" selected >Select Specification</option>
            <option [ngValue]="spec" *ngFor="let spec of allSpecification">{{spec.specificationName}}</option>
          </select>
          <div class="modal-footer">
            <button
              kendoButton 
              themeColor="error"
              [toggleable]="false"
              data-dismiss="modal"> Close
            </button>
            <button
            kendoButton
            themeColor="info"
            [toggleable]="false"
            data-toggle="modal" 
            *ngIf="!editable"
            data-dismiss="modal"  
            [disabled]="loginForm.invalid"
            (click)="validatefn()"
            > Save
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- UPDATE COURSE -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" >

          <h5 class="modal-title" id="exampleModalLabel">Edit Map Course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <form [formGroup]="loginForm">
        <label class="form-label" style="margin-left:20px;margin-top: 20px;"><h6>Select Course</h6></label>
        <select class="form-select" formControlName="Courselist" style="width: 400px;margin-left: 30px;">
          <option selected >select Course</option>
          <option [ngValue]="course"  *ngFor="let course of allCourses">{{course.courseName}}</option>
        </select>
        <br>
        <label class="form-label" style="margin-left:20px;margin-top: 20px;"><h6>Select Specification</h6></label>
        <select class="form-select" formControlName="speclist" style="width: 400px;margin-left: 30px;margin-bottom: 20px;" >
          <option selected >select specification</option>
          <option [ngValue]="spec" *ngFor="let spec of allSpecification">{{spec.specificationName}}</option>
        </select>
          <div class="modal-footer">
            <button
            kendoButton 
            themeColor="error"
            [toggleable]="false"
            data-dismiss="modal"> Close
          </button>
            <button
            kendoButton 
            themeColor="info"
            data-dismiss="modal" 
            [toggleable]="false"
            *ngIf="editable"
            (click)="validatefnforupdate()"
            [disabled]="loginForm.invalid"
            > Update
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- DELETE COURSE -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Delete Map Course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you want to Delete <b>{{courseName1}} - {{specificationName1}}</b> ?
         </div>
        <div class="modal-footer"> 
          <button
            kendoButton 
            themeColor="info"
            data-dismiss="modal" 
            [toggleable]="false"
            (click)="deleteSpecCourse()"
          > Yes
          </button>
            <button
              kendoButton 
              themeColor="error"
              [toggleable]="false"
              data-dismiss="modal"> No
            </button>
           
        </div>
      </div>
    </div>
  </div>
</div>