<!-- heading  (click)="add()"  -->

<div class="row" >
  <div class="mapping" [formGroup]="loginForm">
    <div class="col-3"></div>
      <div class="col-3">
        <!-- <input type="text" formControlName="Courselist" /> -->
        <select class="form-select" formControlName="Courselist">
          <option selected >select Course</option>
          <option [ngValue]="course" *ngFor="let course of allCourses">{{course.courseName}}</option>
        </select>
      </div>
      <div class="col-3">
        <select class="form-select" formControlName="speclist" >
          <option selected >select specification</option>
          <option [ngValue]="spec" *ngFor="let spec of allSpecification">{{spec.specificationName}}</option>
        </select>
      </div>
      <div class="col-3">
        <button
          class="btn btn-primary"
          *ngIf="!editable"
          (click)="validatefn()"> Save
        </button>
        <button
          class="btn btn-primary"
          *ngIf="editable"
          (click)="validatefnforupdate()"> update
        </button>
      </div>
    </div>
  </div>
  <!-- kendogrid  (click)="delete(dataItem)"  (click)="edit(dataItem);"  (click)="AddCourse()"  (click)="updateCourse()"  [kendoGridBinding]="allCourses"  -->
  <kendo-grid [kendoGridBinding]="AllSpeccourse" [pageSize]="6"
  [pageable]="true"  >
    <kendo-grid-column title="S.No" ><ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{rowIndex+1}}
  </ng-template> </kendo-grid-column>
   
    <kendo-grid-column field="courseName" title="Course Name" >  
    </kendo-grid-column>
   
    <kendo-grid-column field="specificationName" title="Specification Name" >  
    </kendo-grid-column>
    <kendo-grid-column field="Action" title="Action">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <button
          kendoButton
          themeColor="warning"
          [toggleable]="false"
          data-toggle="modal"
          data-target="#exampleModal"
          style="margin-right: 10px;"
          (click)="editSpecCourse(dataItem)"
          > Edit
        </button>
        <button
          kendoButton
          themeColor="error"
          [toggleable]="false"data-toggle="modal"
          data-target="#exampleModal1" 
          (click)="deleteSpecCourse(dataItem)"
         > Delete 
        </button>
      </ng-template> 
    </kendo-grid-column>
  </kendo-grid>
 




