.mapping
{
  display: flex;
  flex-direction: row;
  margin-top:50px;
  margin-bottom: 30px;
}
kendo-grid{
  height: 420px;
}
.drop{
  width: 250px;
}
.drop1{
  width: 300px;
  margin-left: 100px;
}
.drop2{
  margin-left: 150px;
}