.mapping
{
  display: flex;
  flex-direction: row;
  margin-top:50px;
  margin-bottom: 30px;
}
.div{
  margin-top: 25px;
}
.div0{
  float: right;
}
.div1{
  font-size: 18px;
  margin-top: 30px;

}
.div2{
display: inline-block;
}
.head{
  margin: 50px;
}
.head2{
  width: 250px;
  margin-left: 50px;
  width: 250px;
}
.head3{
  width: 300px;
  margin-left: 50px;
}
.head0{
  margin-top: 50px;
  margin-left: 50px;
  
}
#button1{
  margin-top: 25px;
}