<!-- heading  (click)="add()"  -->

<div class="row" >
  <div [formGroup]="loginForm">
  <div class="col-3"></div>
    <div class="col-3">
    
        <kendo-label >
          <kendo-dropdownlist 
            formControlName="Courselist"
            [data]="allCourses"
            textField="coursename"
          valueField="courseId"
          [defaultItem]="ProductCourse"
          ></kendo-dropdownlist>
        </kendo-label>
      
    </div>

    <div class="col-3">
        <kendo-label >
          <kendo-dropdownlist 
            formControlName="speclist"
            [data]="allSpecification"
            textField="specificationName"
            valueField="specificationId"
            [defaultItem]="ProductSpec"
          ></kendo-dropdownlist>
        </kendo-label>
      
    </div>
      <div class="col-3">
        <button
          kendoButton
          themeColor="info"
          [toggleable]="false"
          *ngIf="!editable"
          (click)="AddCourse()" style="margin-top: 50px;"> Save
        </button>
      </div>
    </div>
  </div>
  <!-- kendogrid  (click)="delete(dataItem)"  (click)="edit(dataItem);"  (click)="AddCourse()"  (click)="updateCourse()"  [kendoGridBinding]="allCourses"  -->
  <kendo-grid>
    <kendo-grid-column title="Course Id" >

    </kendo-grid-column>
    <kendo-grid-column field="courseName" title="Course Name" >  
    </kendo-grid-column>
    <kendo-grid-column field="specId" title="Specification Id" >  
    </kendo-grid-column>
    <kendo-grid-column field="specName" title="Specification Name" >  
    </kendo-grid-column>
    <kendo-grid-column field="Action" title="Action">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <button
          kendoButton
          themeColor="warning"
          [toggleable]="false"
          data-toggle="modal"
          data-target="#exampleModal"
          style="margin-right: 10px;"> Edit
        </button>
        <button
          kendoButton
          themeColor="error"
          [toggleable]="false"data-toggle="modal"
          data-target="#exampleModal1" > Delete 
        </button>
      </ng-template> 
    </kendo-grid-column>
  </kendo-grid>
 




