<div class="studenttile">
    <p>Total no of student</p>
    <h1>{{this.count}}</h1>
    <div class="notnull" *ngIf="this.count!=0?true:false">
        <div class="photo">
            <div class="row" *ngFor="let img of activeUsers.slice(0,3)">
                <div class="col-2">
                    <!-- <div *ngIf="imgtrue" class="customer-photo"></div> -->
                    <div *ngIf="!imgtrue" class="customer-photo">{{img.profileImage}}</div>
                </div>
            </div>
            <b class="extracount" *ngIf="this.count>3?true:false">+{{this.count-3}}</b>
        </div>
        <a class="viewAll" href="/user">View All</a>
        
    </div>
    
</div>















