.customer-photo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 5px;
    font-size: small;
    text-align: center;
  }

  .photo{
    display: flex;
    position: absolute;
  bottom: 5px;
    left: 5px;
  }
.viewAll
  {
    position: absolute;
    bottom: 5px;
    right:25px;
  }