<div class="head" style="margin:50px">



<div class="example-wrapper">
  <h2 style="margin-top: 25px;">Student Mapping</h2>
  <button kendoButton themeColor="info" *ngIf="!opened" (click)="open()">Open window</button>
  <kendo-dialog title="Add Mapping" *ngIf="opened" (close)="close()" [minWidth]="250" [width]="500">

  <form class="k-form" [formGroup]="courseform">
      <fieldset>
          <legend>Student Course Details</legend>

          <label class="k-form-field">
              <div class="example-wrapper">
                <h6>Student Name</h6>
                <kendo-autocomplete  style="width: 450px;"
                  [data]="data1" valueField="studentName"  [filterable]="true"
                  (filterChange)="handleFilter($event)"
                  placeholder="Select name"
                 formControlName="studentName">
                 <ng-template kendoAutoCompleteItemTemplate let-dataItem class="k-state-default" (click)="empSelected(dataItem)">
                  <span class="k-state-default" (click)="empSelected(dataItem)" style="width: 500px;"> {{ dataItem.studentId+" - "+dataItem.studentName }}</span>
              </ng-template>
                </kendo-autocomplete>
        
              </div>
          </label>



          <label class="k-form-field">
            <div class="example-wrapper">
              <h6>Course Name</h6>
              <kendo-autocomplete style="width: 450px;"
              [data]="data2"  [filterable]="true"
              (filterChange)="handleFilter1($event)"  valueField="courseName"
                placeholder="Select Degree"
                (click)="resetspecvalue()"
                (change)="getspecbyname($event)" formControlName="coursevalue">
              </kendo-autocomplete>
            </div>
          </label>
          <label class="k-form-field">
            <div class="example-wrapper">
              <h6>Specification Name</h6>
              <kendo-autocomplete  style="width: 450px;"
              [data]="data3"       [filterable]="true"
              (filterChange)="handleFilter2($event)"  valueField="specificationName"
                placeholder="Select Course"
                formControlName="specvalue">
              </kendo-autocomplete>
            </div>
          </label>


      </fieldset>

      <div class="k-actions k-actions-end">
          <button kendoButton type="button" (click)="close()">Cancel</button>
          <button kendoButton themeColor="primary" type="button" (click)="submit()">Submit</button>
          <div *ngIf="btnupdate" id="button1">
            <button kendoButton themeColor="info" [toggleable]="false" style="margin-right: 10px;" (click)="AddCourse()">+ Add</button>
          </div>


          <div *ngIf="!btnupdate" class="col-lg-3 col-md-6 col-sm-6" id="button1">
            <button
              kendoButton
              themeColor="info"
              [toggleable]="false"
              style="margin-right: 10px;"
              (click)="Update()">
              Update 
            </button>
            <button
              kendoButton
              themeColor="error"
              [toggleable]="false"
              style="margin-right: 10px;"
              (click)="cancelfn()">
              Cancel 
            </button>
          </div>
      </div>
  </form>

  </kendo-dialog>
</div>
<!-- <form [formGroup]="courseform">
  <div class="row" id="header1">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="example-wrapper">
        <h6>Student Name</h6>
        <kendo-autocomplete  style="width: 180px;"
          [data]="data1" valueField="studentName"  [filterable]="true"
          (filterChange)="handleFilter($event)"
          placeholder="Select name"
         formControlName="studentName">
         <ng-template kendoAutoCompleteItemTemplate let-dataItem class="k-state-default" (click)="empSelected(dataItem)">
          <span class="k-state-default" (click)="empSelected(dataItem)" style="width: 500px;"> {{ dataItem.studentId+" - "+dataItem.studentName }}</span>
      </ng-template>
        </kendo-autocomplete>

      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="example-wrapper">
        <h6>Course Name</h6>
        <kendo-autocomplete style="width: 180px;"
        [data]="data2"  [filterable]="true"
        (filterChange)="handleFilter1($event)"  valueField="courseName"
          placeholder="Select Degree"
          (click)="resetspecvalue()"
          (change)="getspecbyname($event)" formControlName="coursevalue">
        </kendo-autocomplete>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="example-wrapper">
        <h6>Specification Name</h6>
        <kendo-autocomplete  style="width: 180px;"
        [data]="data3"       [filterable]="true"
        (filterChange)="handleFilter2($event)"  valueField="specificationName"
          placeholder="Select Course"
          formControlName="specvalue">
        </kendo-autocomplete>
      </div>
    </div>
    <div *ngIf="btnupdate" class="col-lg-3 col-md-6 col-sm-6" id="button1">
      <button
        kendoButton
        themeColor="info"
        [toggleable]="false"
        style="margin-right: 10px;"
        (click)="AddCourse()">
        + Add 
      </button>
    </div>
    <div *ngIf="!btnupdate" class="col-lg-3 col-md-6 col-sm-6" id="button1">
      <button
        kendoButton
        themeColor="info"
        [toggleable]="false"
        style="margin-right: 10px;"
        (click)="Update()">
        Update 
      </button>
      <button
        kendoButton
        themeColor="error"
        [toggleable]="false"
        style="margin-right: 10px;"
        (click)="cancelfn()">
        Cancel 
      </button>
    </div>
  </div>
</form> -->



<kendo-grid [data]="stu" class="kendo"   >
    <!-- <kendo-grid-column title="S.No" ><ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{rowIndex+1}}
  </ng-template> </kendo-grid-column> -->
  <kendo-grid-column field="studentId" title="Student No">
  </kendo-grid-column>
  <kendo-grid-column field="studentName" title="Student Name">
  </kendo-grid-column>
    <kendo-grid-column field="course" title="Course Name" >  
    </kendo-grid-column>
    <kendo-grid-column field="spec" title="Specification Name" >  
    </kendo-grid-column>
    <kendo-grid-column field="Action" title="Action">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <button
          kendoButton
          themeColor="warning"
          [toggleable]="false"
          style="margin-right: 10px;"
          data-toggle="modal"
          data-target="exampleModal"
          (click)="EditCourse(dataItem)"
          > Edit
        </button>
        <button
          kendoButton
          themeColor="error"
          data-target="#exampleModal" 
          (click)="DeleteCourse(dataItem)"
         > Delete 
        </button>
      </ng-template> 
    </kendo-grid-column>
  </kendo-grid>

</div>












