<form [formGroup]="courseform" (submit)="sub()" >
  <div class="row" id="header1">
    <div class="col-3">
      <div class="example-wrapper">
        <h6>Student Name</h6>
        <kendo-autocomplete  style="width: 180px;"
          [data]="stu"  valueField="userName"
          placeholder="Enter your name"
          class="countries" formControlName="studentName">
        </kendo-autocomplete>
      </div>
    </div>
    <div class="col-3">
      <div class="example-wrapper">
        <h6>Course Name</h6>
        <kendo-autocomplete style="width: 180px;"
          [data]="courses"  valueField="courseName"
          placeholder="Enter Degree"
          (change)="getspecbyname($event)">
        </kendo-autocomplete>
      </div>
    </div>
    <div class="col-3">
      <div class="example-wrapper">
        <h6>Specification Name</h6>
        <kendo-autocomplete  style="width: 180px;"
          [data]="selectedspecname"  valueField="specificationName"
          placeholder="Enter Course"
          formControlName="uservalue">
        </kendo-autocomplete>
      </div>
    </div>
    <div class="col-3" id="button1">
      <button
        kendoButton
        themeColor="warning"
        [toggleable]="false"
        data-toggle="modal"
        data-target="#exampleModal"
        style="margin-right: 10px;"
        (click)="AddCourse()">
        + Add 
      </button>
    </div>
  </div>
</form>

<kendo-grid >
    <kendo-grid-column title="S.No" ><ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{rowIndex+1}}
  </ng-template> </kendo-grid-column>
  <kendo-grid-column field="userName" title="Student Name">
  </kendo-grid-column>
    <kendo-grid-column field="courseName" title="Course Name" >  
    </kendo-grid-column>
    <kendo-grid-column field="specificationName" title="Specification Name" >  
    </kendo-grid-column>
    <kendo-grid-column field="Action" title="Action">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <button
          kendoButton
          themeColor="warning"
          [toggleable]="false"
          style="margin-right: 10px;" 
          > Edit
        </button>
        <button
          kendoButton
          themeColor="error"
          data-target="#exampleModal1"   
         > Delete 
        </button>
      </ng-template> 
    </kendo-grid-column>
  </kendo-grid>