.header{
    margin-top: 50px;
    margin-bottom: 100px;
   
}
#header1{
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
    height: 20px;
    
}
#button1{
    margin-top: 25px;
}

.kendo{
    text-align: center;
}
@media only screen and (max-width: 598px) and (min-width: 576px) {
    .kendo {
        margin-top: 150px;}
}
@media only screen and (max-width: 575px) and (min-width: 400px) {
    .kendo {
        margin-top: 250px;}
}
@media only screen and (max-width: 399px) and (min-width: 0px) {
    .kendo {
        margin-top: 250px;}
}

@media only screen and (max-width: 768px) and (min-width: 599px) {
    .kendo {
        margin-top: 150px;}
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .kendo {
        margin-top: 150px;}
}
