button{
    margin-top: 20px;
    width: 200px;
    font-size: 18px;
    height: 50px;
    margin-bottom: 30px
}
    
.card-body
{
    padding: 50px;
}
    
.card
{
    margin-top: 100px;
    min-width: 300px;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
}

    
h3
{
    background-color: #0d6efc;
    color: white;
    padding: 10px;
}   


.form-group1 {
    position: relative;
}

.form-group1 input {
    border: 1px solid #ddd;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
}

.eyeicon {
    position: absolute;
    right: 30px;
    top: 5px;
    cursor: pointer;
    font-size: 22px;
}

label{
    font-size: 18px;
}