button{
    margin-top: 20px;
    width: 200px;
    font-size: 18px;
    float: right;
    height: 50px;
    margin-bottom: 30px
}
    
.card-body
{
    padding: 50px;
}
    
.card
{
    margin-top: 100px;
}
    
h3,h1
{
    background-color: #0d6efc;
    color: white;
    padding: 10px;
}   


.form-group1 {
    position: relative;
    width: 700px;
}

.form-group1 input {
    border: 1px solid #ddd;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
}

.eyeicon {
    position: absolute;
    right: 30px;
    top: 5px;
    cursor: pointer;
    font-size: 22px;
}
kendo-card
{
    margin-left: 350px;
    margin-top: 100px;
}

kendo-card-header div h1{
    background-color: blue;
    font-size: 22px;
}

kendo-card-header{
    background-color: blue;
}

label{
    font-size: 18px;
}