<div class="card mb-3 w-50 h-50 container p-0" >
    <form>
    <h3 class="card-header">Update Password</h3>
    <div class="card-body text-dark">
        <div class="card-body">
            <div class="card-text">
              <div class="pass1 mb-3" >
                <input type="password" style="height: 50px;" class="form-control" id="floatingPassword1" placeholder="Password" data-toggle="password"  placeholder="Enter the password">
                  
                </div>
              <div class="pass1 mb-3">
                <input type="password" style="height: 50px;" class="form-control" id="floatingPassword2" placeholder="Password" data-toggle="password"  placeholder="Enter the password">
                  
                </div>
                <div class="pass1 mb-3">
                  <input type="password" style="height: 50px;" class="form-control" id="floatingPassword3" placeholder="Password" data-toggle="password"  placeholder="Enter the password">
                </div>
            </div>                       
            <button type="button" class="btn btn-primary" >Update Password</button>
          </div>
        </div> 
    </form>
    
</div>


<!-- <input type="password" class="form-control" id="floatingPassword" placeholder="Password" data-toggle="password"  placeholder="Enter the password"> -->
