 <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <a class="navbar-brand" ><i class="bi bi-mortarboard-fill" style="margin-left: 10px;margin-right: 10px;font-size:30px;"></i>Student App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="navbar-nav" style="margin-left: auto;" *ngIf="menutype">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/course">Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/spec">Specification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/speccourse">Course Mapping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courseselection">Student Mapping</a>
      </li>
      <li class="nav-item"routerLink="/updateprofile">
        <div class="customer-photo" >{{final_profile}}</div>
      </li>
      <li class="nav-item" style="cursor:pointer;">
        <a class="nav-link" (click)="logout()"><i class="bi bi-box-arrow-right ">Logout</i></a>
     </li>
    </ul>
  </div>
</nav>


