<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <a class="navbar-brand brand" href="#">Student App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link head h" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link head" href="/user">User</a>
        </li>
        <li class="nav-item">
            <div class="btn-group">
                <a class="dropdown-toggle" id="drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Degree
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/course">Course</a>
                  <a class="dropdown-item" href="/spec">Specification</a>
                  <a class="dropdown-item" href="speccourse">Course Specification</a>
                </div>
              </div>
        </li>
        <li class="nav-item">
            <a class="nav-link head" href="/courseselection">Course Selection</a>
        </li> 

        <li class="nav-item i">
          <span class="icon"><i class="bi bi-box-arrow-right ic"></i></span>
          <span class="icon1">Logout</span>
        </li> 
    </ul>
    </div>
  </nav>

  
 

