<div class="head">
  <div class="name">
    <h3>Users</h3>
    <button kendoButton
    class="adduser"
      themeColor="info"
      [toggleable]="false"
      data-toggle="modal"
      data-target="#exampleModal" (click)="reset()"> + Add User 
    </button>
  </div>
  <kendo-grid [data]="allusers" [pageable]="true" [pageSize]="5" [height]="350">
    <kendo-grid-column
      title="Identification No"
      field="studentId">
    </kendo-grid-column>
    <kendo-grid-column title="Name">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="photo">
          <div *ngIf="!imgtrue" class="customer-photo">{{dataItem.profileImage}}</div>
          <div class="customer-name">{{ dataItem.studentName }}</div>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column 
      title="Gender">
    </kendo-grid-column>
    <kendo-grid-column
      title="Email Id"
      field="email">
    </kendo-grid-column>
    <kendo-grid-column 
      title="Phone">
    </kendo-grid-column>
    <kendo-grid-column
     title="Role">
    </kendo-grid-column>
    <kendo-grid-column
      field="Discontinued" title="Action" >
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton themeColor="warning" style="margin-right:10px;" data-toggle="modal" data-target="#exampleModal" (click)="edit(dataItem)">Edit</button>
        <button kendoButton themeColor="error" data-toggle="modal" data-target="#exampleModal1" (click)="delete(dataItem)">Delete</button>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>


<!-- modal-->
<div class="modal fade" id="exampleModal" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!editable" class="modal-title" id="exampleModalLabel">
          Add User
        </h5>
        <h5 *ngIf="editable"  class="modal-title" id="exampleModalLabel">
          Edit User
        </h5>
        <button type="button" class="close"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form [formGroup]="Form">
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlInput1" class="form-label datalabel" ><h6 >Name :</h6></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="userName" placeholder="Enter the name"  [class.is-invalid]="userName.invalid && (userName.dirty || userName.touched)">
            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
              <div *ngIf="userName.errors?.['required']">
                  Name is required.
              </div>
              <div *ngIf="userName.errors?.['minlength']">
                This field must have at least 2 character.
              </div>
              <div *ngIf="userName.errors?.['maxlength']">
                This field must have at most 20 characters.
              </div>
            </div>
          </div>
          <div  class="form-group">
            <h6>Gender :</h6>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select the Gender</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Others</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput2" class="form-label"><h6 >Email Id :</h6></label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="email" placeholder="Enter Email Id" [class.is-invalid]="email.invalid && (email.dirty || email.touched)" >
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
              <div *ngIf="email.errors?.['required']">
                Email Id is required.
              </div>
              <div *ngIf="email.errors?.['pattern']">
                Enter Valid Email Id in This field.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3" class="form-label"><h6 >Phone Number :</h6></label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">( + 91 ) -</span>
              <input type="text" class="form-control" placeholder="Phone" formControlName="phone" >
            </div>
            <div *ngIf="phone.touched && phone.invalid" class="text-danger">
              <div *ngIf="phone.errors?.['required']">Mobile number is required</div>
              <div *ngIf="phone.errors?.['pattern']">Provide 10 digit phone number</div>
            </div>
          </div>
          <div class="form-group">
            <h6>Role :</h6>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Role </option>
              <option value="1">Admin</option>
              <option value="2">Staff</option>
              <option value="3">Teacher</option>
            </select>
          </div>

        </div>
    
   
        <div class="modal-footer">
          <button kendoButton type="button" themeColor="error"
            data-dismiss="modal" >
            Close
          </button>  
          <button kendoButton type="submit" *ngIf="editable" themeColor="info" [disabled]="Form.invalid"  (click)="update()" data-dismiss="modal" >
            Update
          </button>
          <button kendoButton
            *ngIf="!editable"
            themeColor="info"
            [disabled]="Form.invalid"
            (click)="validatefn()"
            data-dismiss="modal"
            [toggleable]="false"
           >Save 
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- modal1 -->
<div class="modal fade" id="exampleModal1" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Delete User
        </h5>
        <button type="button" class="close"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete the Student <b>{{name}} ({{studentid}})</b> ?
      </div> 
      <div class="modal-footer">
        <button kendoButton type="submit" themeColor="info"  (click)="remove()" data-dismiss="modal" >
          Yes
        </button>
        <button kendoButton type="button" themeColor="error"
          data-dismiss="modal" >
          No
        </button>   
      </div>
    </div>
  </div>
</div>
</div>

<!-- alert -->
<kendo-dialog
  *ngIf="opened"
  [minWidth]="250"
  [width]="450"
>
  <h5 style="margin:30px; text-align: center;">
    {{messagecontent}}
  </h5>
  <kendo-dialog-actions>
    <button kendoButton (click)="close()" themeColor="info">
      OK
    </button>
  </kendo-dialog-actions>
</kendo-dialog>



<!-- <form [formGroup]="" (ngSubmit)="onFormSubmit()" novalidate>
  <div class="form-group mb-3">
    <label>Phone/Mobile No.</label>
    <input type="text" formControlName="phone" class="form-control mb-3">

    <div *ngIf="p.phone.touched && p.phone.invalid" class="alert alert-danger">
      <div *ngIf="p.phone.errors?.required">Mobile number is required</div>
      <div *ngIf="p.phone.errors?.pattern">Provide 10 digit phone number</div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!fg.valid">Submit</button>
</form> -->