<!-- heading -->


<div class="row head">
  <div class="col-1"></div>
  <div class="col-3">
    <h2>Specification </h2>
  </div>
  <div class="col-2"></div>
  <div class="col-2"></div>
  <div class="col-3">
    <button kendoButton
    themeColor="info"
    [toggleable]="false"
    data-toggle="modal"
    data-target="#exampleModal" (click)="add()"> + Add Specification 
  </button>
  </div>
  <div class="col-1"></div>
</div>


<!-- kendogrid -->
<kendo-grid [kendoGridBinding]="allSpecification" [resizable]="true" style="margin:50px;font-size: 18px;" >
  <kendo-grid-column title="Specification Id" ><ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
    {{rowIndex+1}}
  </ng-template> </kendo-grid-column>
  <kendo-grid-column field="specificationName" title="Specification Name" required>
  </kendo-grid-column>
  <kendo-grid-column field="Action" title="Action">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
      <button
        kendoButton
        themeColor="warning"
        [toggleable]="false"
        (click)="edit(dataItem);"data-toggle="modal"
        data-target="#exampleModal"
        style="margin-right: 10px;"> Edit
      </button>
      <button
        kendoButton
        themeColor="error"
        [toggleable]="false"data-toggle="modal"
        data-target="#exampleModal1" (click)="delete(dataItem)"> Delete 
      </button>
    </ng-template> 
  </kendo-grid-column>
</kendo-grid>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Specification Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="loginForm">
        <div class="modal-body" >
          <input type="text" class="textbox" #box placeholder="Specification Name" formControlName="user"> <br><br>
          <span *ngIf="user && user.invalid && user.touched" style="color:red;">*Specification name is required</span>
        </div>
        <div class="modal-footer">
          <button
            kendoButton
            themeColor="info"
            [toggleable]="false"
            data-toggle="modal" 
            *ngIf="!editable"
            data-dismiss="modal" (click)="validatefn()" [disabled]="loginForm.invalid"> Save
          </button>
          <button
            kendoButton 
            themeColor="info"
            data-dismiss="modal" 
            [toggleable]="false"
            *ngIf="editable"
            (click)="validatefnforedit()" [disabled]="loginForm.invalid"> Update
          </button>
          <button
            kendoButton 
            themeColor="error"
            [toggleable]="false"
            data-dismiss="modal"> Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Do you wants to Delete
      </div>
      <div class="modal-footer"> 
        <button 
          kendoButton 
          themeColor="info"
          data-dismiss="modal" 
          [toggleable]="false"
           (click)="deleteSpecification()"> Yes
        </button>
        <button
          kendoButton
          themeColor="info"
          data-dismiss="modal" 
          [toggleable]="false"
          themeColor="error"
          data-dismiss="modal">No
        </button>
      </div>
    </div>
  </div>
</div>







