<div class="card mb-3 w-50 h-50 container p-0" >
  <h3 class="card-header">Login to continue</h3>
  <form [formGroup]="stuform">
  <div class="card-body text-dark">
          <div class="card-text">
              <div class="form-floating mb-2">
                <input type="email" class="form-control" id="floatingInput" required>
                <label for="floatingInput">Email address</label>
              </div>
              
              <div class="form-floating" >
                <input type="password" class="form-control" id="floatingPassword" formControlName="pass"  required>
                <label for="floatingPassword">Password</label>
              </div>
              
              <div *ngIf="stuform.controls['pass'].errors?.['minlength']">
                
                <div class="alert alert-success" role="alert">
                  <p>Password length minimum of 8 charcters with the combination of minimum of 1caps 1small 1number 1 symbol.</p>
                </div>
              </div>          
          <button type="button" class="btn btn-primary">Login</button>
        </div>
  </div> 

          <div class="form-check">
            <input type="checkbox" name="subscribe" id="subscribe" />
            <label class="form-check-label" for="flexCheckDefault">keep me sign in</label>
          </div>      

          <!-- <a href="update" ><button  type="button" class="btn btn-primary" >Login</button></a> -->
          <button type="button" (click)="log()">Click me!</button>

   
</form>
</div>

<router-outlet></router-outlet>



