<!-- heading -->
<div class="row" style="margin-top: 40px;">
  <div class="col-9" style="padding-left: 40px;">
    <h2>COURSE  DETAILS </h2>
  </div>
  <div class="col-3">
    <button kendoButton
      fillMode="outline"
      themeColor="info"
      [toggleable]="false"
      data-toggle="modal"
      data-target="#exampleModal" (click)="add()"> + Add Course 
    </button>
  </div>
</div>
<!-- kendogrid -->
<kendo-grid [kendoGridBinding]="CourseDetails" [resizable]="true" style="margin:50px;font-size: 18px;" >
  <kendo-grid-column title="ID" field="CourseID"></kendo-grid-column>
  <kendo-grid-column field="CourseName" title="Name" required> </kendo-grid-column>
  <kendo-grid-column field="Action" title="Action">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
      <button
        kendoButton
        fillMode="outline"
        themeColor="warning"
        [toggleable]="false"
        (click)="edit(dataItem);"data-toggle="modal"
        data-target="#exampleModal"
        style="margin-right: 10px;"> Edit
      </button>
      <button
        kendoButton
        fillMode="outline"
        themeColor="error"
        [toggleable]="false"data-toggle="modal"
        data-target="#exampleModal1" > Delete 
      </button>
    </ng-template> 
  </kendo-grid-column>
</kendo-grid>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Course Name</h5>
      </div>
      <form [formGroup]="loginForm">
        <div class="modal-body" >
          <input type="text" #box placeholder="Course Name" formControlName="user"> <br><br>
          <span *ngIf="user && user.invalid && user.touched" style="color:red;">*Course name is required</span>
        </div>
        <div class="modal-footer">
          <button
            kendoButton
            fillMode="outline"
            themeColor="info"
            [toggleable]="false"
            data-toggle="modal" 
            *ngIf="!editable"
            data-dismiss="modal" (click)="AddClick()" [disabled]="loginForm.invalid"> Save
          </button>
          <button
            kendoButton
            fillMode="outline"
            themeColor="info"
            data-dismiss="modal" 
            [toggleable]="false"
            *ngIf="editable"
            (click)="UpdateClick()" [disabled]="loginForm.invalid"> update
          </button>
          <button
            kendoButton
            fillMode="outline"
            themeColor="error"
            [toggleable]="false"
            data-dismiss="modal"> Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Course Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Do you wants to Delete
      </div>
      <div class="modal-footer">
        <button 
          kendoButton
          fillMode="outline"
          themeColor="info"
          data-dismiss="modal" 
          [toggleable]="false"
          (click)="DeleteClick()"> Yes
        </button>
        <button
          kendoButton
          fillMode="outline"
          themeColor="info"
          data-dismiss="modal" 
          [toggleable]="false"
          data-dismiss="modal">No
        </button>
      </div>
    </div>
  </div>
</div>



