.head1{
    margin-top: 40px;
    margin-left: 35px;
}
.head2{
    padding-left: 250px;
}
.head3{
    text-align: center;
    margin:50px;
    font-size: 18px;
}


.class1{
   margin-right: 10px;
}
.class2{
    text-align: center;
}
