.imagebtn
{
    display: flex;
    font-size: 16px;
    padding: 20px;
}
button{
    width: 200px;
    font-size: 18px;
    height: 45px;
    margin-left: 300px;
    top:-25px;
}

.card{
    min-width: 300px;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
}

.imgbox
{
    font-size: 100px;
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    margin-left: 35px;
}
input{
    font-size: 20px;
    padding-left: 10px;
}
.row{
    padding: 50px;
}
.field{
    padding-top:50px
}
.field1{
    margin-bottom:20px
}
.field label{
    padding-right:10px
}
kendo-card
{
    margin-left: 350px;
    margin-top: 70px;
}
kendo-card-header div h1{
    background-color: blue;
    font-size: 22px;
}
kendo-card-header{
    background-color: blue;
}
label{
    font-size: 18px;
}
.buttons{
    margin-top: 60px;
    height: 40px;
    width: 120px;
    margin-left:0px;
}

.col1{
    margin-top: 40px;
    
}


@media only screen and (max-width: 767px) and (min-width: 577px) {
    .col1{
        margin-left: 65px;
        padding-left: 0px;
    }
}
@media only screen and (max-width: 576px) and (min-width: 481px) {
    .col1{
        margin-left: 65px;
        padding-left: 0px;
        
    }
}
@media only screen and (max-width: 480px) and (min-width: 400px) {
    .col1{
        margin-left: 15px; 
        padding-left: 0px;
        
    }
}
@media only screen and (max-width: 399px) and (min-width: 360px) {
    .imgbox
    {
    font-size: 100px;
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    }

    .imagebtn
    {
        display: flex;
        font-size: 16px;
        padding-top: 20px;
        padding-left: 0px;
    }
}
@media only screen and (max-width: 359px) and (min-width: 300px) {
    .imgbox
    {
    font-size: 100px;
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    }

    .imagebtn
    {
        display: flex;
        font-size: 16px;
        padding-top: 20px;
        padding-left: 0px;
    }
}