.imagebtn
{
    display: flex;
    font-size: 16px;
    padding: 20px;
}
button{
    width: 200px;
    font-size: 18px;
    height: 45px;
    margin-left: 300px;
    top:-25px;
}
.imgbox
{
    font-size: 150px;
    width: 250px;
    height: 250px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
}
input{
    font-size: 20px;
    padding-left: 10px;
}
.row{
    padding: 50px;
}
.field{
    padding-top:50px
}
.field1{
    margin-bottom:20px
}
.field label{
    padding-right:10px
}
kendo-card
{
    margin-left: 350px;
    margin-top: 70px;
}
kendo-card-header div h1{
    background-color: blue;
    font-size: 22px;
}
kendo-card-header{
    background-color: blue;
}
label{
    font-size: 18px;
}
.buttons{
    margin-top: 60px;
    height: 40px;
    width: 120px;
    margin-left:10px;
}